{% extends "main.twig" %}

{% block main %}
<section class="hero is-large">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h2 class="is-6">
                Money exchange website made by Eugene, a student at TECH C.
            </h2>
            <h2 class="is-6">
                Powered by Bulma and Twig.
            </h2>
        </div>
    </div>
</section>
{% endblock main %}